version: 2.1
setup: true

orbs:
  continuation: circleci/continuation@0.4.0

jobs:
  detect-and-continue:
    docker:
      - image: cimg/python:3.10

    steps:
      - checkout

      - continuation/continue:
          configuration_path: .circleci/continue.yml

workflows:
  setup-workflow:
    jobs:
      - detect-and-continue
